.overlayProgressBarHolder {
    opacity: 0.5;
    filter:alpha(opacity=50);
    -moz-opacity: 0.5;
}

.correctProgressBar, .incorrectProgressBar {
    display: inline-block;
}

.correctProgressBar {
    background-color: green;
}

.incorrectProgressBar {
    background-color: red;
}

.actualProgressBarHolder {
    height: 0px;
}
