@import url("progress-bar.css");

.prompt, .response {
  display: table-cell;
}

.previous-answer {
  border-bottom: thin black solid;
}

#num-rounds-left {
 font-weight: bold;
 color: green;
}

#edit-word-list-button {
 font-size: 200%;
}
